<p id="notice"><%= notice %></p>

<div class="col-md-offset-2 col-md-8 work-box work-box-top work-box-product">
  <p class="standard-text text-center">
    <span class="chewy-pop text-pop">
      <%= @product.name %>
    </span>
  </p>

  <p class="standard-text standard-space text-center text-italics">
      <%= @product.description %>
  </p>

  <p class="image-center">
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </p>

  <p class="standard-text standard-space text-right">
    <strong>Price:</strong>
    <%= number_to_currency(@product.price) %>
  </p>

  <div class="work-box-top text-right"><!--(2)-->
    <span class="chewy-little">
      <%= link_to 'Edit', edit_product_path(@product) %>
      <!--<#%= link_to 'Back', products_path %>-->
    </span>
  </div><!-- end work-box-top (2)-->
</div><!-- end work-box -->
