<!DOCTYPE html>
<html>
  <head>
    <title>Pop60!</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="pop60-brand navbar-brand">
            <a href="/static_pages/landing_page">Pop 60!</a>
          </div><!-- end bomymo -->

          <%= form_with(url: products_path, method: 'get', local: true, class: "navbar-form navbar-left") do |form| %>
            <div class="form-group">
              <%= form.label :q, 'Search for:', for: "search-form", class: "form-control hide-under-768" %> 
              <%= form.text_field :q, id: 'q', value: params[:q], id: "search-form", class: "form-control-plaintext search-box", placeholder: "What's your groove?" %>
              <%= form.submit 'Search!', class: "btn btn-primary search-go-button" %>
            </div><!--/form-group -->
          <% end %>
        </div><!-- end navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/products">Home</a></li>
            <li><a href="/static_pages/about">About</a></li>
            <li><a href="/static_pages/contact">Contact</a></li>
          </ul>
          </div><!-- end nav -->
        </div><!-- end nav container -->
    </nav><!-- end navbar -->
    
    <%= yield %>

    <footer>
      <div class="footer-format">
        <p>&copy; 2017 Robert Myers-Morgan</p>
      </div>
    </footer>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
